.toggle-btn {
  background-color: black;
  color: antiquewhite;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
}
.toggle-btn:hover {
  background-color: rgb(157, 135, 10);
}
.dark {
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
.dark .toggle-btn {
  background-color: orange;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 20px;
  cursor: pointer;
}
h1 {
  text-align: center;
}
